body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #C4C4C4;
  stroke-opacity: 0.3;
  stroke-width: 6px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
}

.maintext {
  margin-left: 20rem;
  margin-right: 20rem;
  text-align: left;
  line-height: 1.5em;
}

a{
  text-decoration: none;
  color: #000;
  border-bottom: solid 0.5px #979797;
}

a.prime{
  text-decoration: none;
  color: rgb(77, 194, 234);
  border-bottom: dotted 0.5px;
}

a.netflix{
  text-decoration: none;
  color: rgb(237, 83, 91);
  border-bottom: dotted 0.5px;
}

a.hulu{
  text-decoration: none;
  color: rgb(96, 238, 168);
  border-bottom: dotted 0.5px;
}

a.disney{
  text-decoration: none;
  color: rgb(158, 158, 158);
  border-bottom: dotted 0.5px;
}

.prime_hover{
  display: inline;
}

.disney_hover{
  width: 50px;
}
